<div class="user-card card">
  <div class="card-body">
    <%= render 'header', user: @user %>

    <%= render 'stats', user: @user %>

    <br>

    <p>
      <%= @user.bio %>
    </p>

    <% if @user == get_current_user %>
      <%= render 'edit-btn', user: @user %>
    <% else %>
      <%= render 'follow-btn', user: @user %>
    <% end %>
  </div>
</div>

<br>

<% @user.posts.each do |post| %>
  <%= render 'posts/post', post: post, show_comments: false %>
  <br>
<% end %>
