<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if @user.avatar.attached? %>
  <p>
    <strong>Avatar:</strong>
    <img src="<%= url_for(@user.avatar)%>">
  </p>
<% end %>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<% if is_logged_in? && @user == get_current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
