<div class="post card mb-3">
  <% if post.image.attached? %>
    <img src="<%= url_for(post.image)%>" class="post__image card-img-top">
  <% end %>

  <div class="card-body">
    <p class="card-text">
      <% if post.user %>
        <b>
          <%= link_to '@' + post.user.username, user_path(post.user) %>
        </b>
      <% end %>

      <small class="post__time text-muted">
        <%= time_ago_in_words(post.created_at) %> ago
      </small>

      <%= render 'posts/like-btn', post: post %>

      <%= link_to(post, class: "post__like-btn btn btn-outline-dark") do %>
        <i class="material-icons">comment</i>
        <%= post.comments.count %>
      <% end %>
    </p>

    <%= post.description %>

    <% if is_logged_in? && post.user == get_current_user %>
      <%= render 'posts/edit-btn', post: post %>
    <% end %>
  </div>

  <% if show_comments && post.comments.count > 0 %>
    <%= render 'comments', comments: post.comments, new_comment: new_comment %>
  <% end %>
</div>
