<% if @post.image.attached? %>
  <p>
    <strong>Image:</strong>
    <img src="<%= url_for(@post.image)%>">
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<% if @post.user %>
  <p>
    <strong>Author:</strong>
    <%= @post.user.username %>
  </p>
<% end  %>

<% get_current_user %>

<% if is_logged_in? && @post.user == get_current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end  %>

<%= link_to 'Back', posts_path %>
